<!------ Include the above in your HEAD tag ---------->
<html>

<head>


    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="stylesheets/shop-homepage.css" rel="stylesheet">
    <style>
        .invoice-title h2,
        .invoice-title h3 {
            display: inline-block;
        }

        .table>tbody>tr>.no-line {
            border-top: none;
        }

        .table>thead>tr>.no-line {
            border-bottom: none;
        }

        .table>tbody>tr>.thick-line {
            border-top: 2px solid;
        }
    </style>
</head>

<body>

        <% include ./partials/topnav%>

<div  class="container" id='inform' style="display: none">
    Trà sữa Trai làm đã nhận được order của bạn, vui lòng đợi giao hàng
</div>
<div class="container" id='container'>

    <div class="row">
        <div class="col-xs-12">
            <div class="invoice-title">
                <h2>Đơn hàng</h2>
                <h3 class="pull-right">Order # 12345</h3>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-6">
                    <% if(user!=null){%>
                    <address>
                        <strong>Người nhận :</strong>
                        <div><%- user.fullname%></div>
                        <div>address</div>
                        <div>phone</div>
                    </address>
                    <%}%>
                </div>

            </div>
            
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Chi tiết đơn hàng</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <td><strong>Item</strong></td>
                                    <td class="text-right"><strong>Giá</strong></td>
                                </tr>
                            </thead>
                            <tbody>

                                <% if(user!=null){listItems.map((item,index)=>{%>
                    <tr>
                        <td><%- item.shoes.name%></td>
                        <td class="text-right"><%- item.shoes.price%></td>
                    </tr>
                    <%})} else{ 
                        pickedShoes.map((item,index)=>{
                        %>

                    <tr>
                        <td><%- item.name%></td>
                        <td class="text-right"><%- item.price%></td>
                    </tr>
                    <% })}%>
                    <tr>
                        <td></td>
                        <td class="text-right"><%- total%></td>
                    </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="padding-left: 4%">
        <div class="col-6">
            <div class="form-group row">
                <label class="col-3 col-form-label pr-0">Họ tên</label>
                <div class="col-8" style="width: 40%;">
                    <input name="username" type="text" class="form-control pl-0" data-focus=" Username" value="">
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group row">
                <label class="col-3 col-form-label pr-0">Số điện thoại</label>
                <div class="col-8" style="width: 40%;">
                    <input name="username" type="text" class="form-control pl-0" data-focus=" Username" value="">
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group row">
                <label class="col-3 col-form-label pr-0">Địa chỉ</label>
                <div class="col-8" style="width: 40%;">
                    <input name="username" type="text" class="form-control pl-0" data-focus=" Username" value="">
                </div>
            </div>
        </div>

    </div>
    <button class="btn btn-primary" onclick="order()" style="
    height: 40px;
">Đặt hàng</button>
</div>

</div>

<!-- Bootstrap core JavaScript -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<% include ./partials/footer%>

<script>

    const order = () => {

        $('#container').attr('style', 'display:none');
        $('#inform').attr('style', 'display:block');
    }
</script>
</body>

</html>